<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Our Services</h1>
            <p class="text-center sub-heading">grow your business with us</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services web_development">
                            <div class="icon">
                                <img src="images/services/icon-1.png" alt="">
                            </div>
                            <h4>Web development</h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur, similique.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services speedup">
                            <div class="icon">
                                <img src="images/services/icon-2.png" alt="">
                            </div>
                            <h4>Speedup</h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur, similique.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services privacy">
                            <div class="icon">
                                <img src="images/services/icon-3.png" alt="">
                            </div>
                            <h4>Privacy</h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur, similique.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services premium_design">
                            <div class="icon">
                                <img src="images/services/icon-4.png" alt="">
                            </div>
                            <h4>Premium Design</h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur, similique.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services web_design">
                            <div class="icon">
                                <img src="images/services/icon-5.png" alt="">
                            </div>
                            <h4>Website Design</h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur, similique.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services email_design">
                            <div class="icon">
                                <img src="images/services/icon-6.png" alt="">
                            </div>
                            <h4>Email Design</h4>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur, similique.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>